.thumbnail-3{
    margin-top:80px;
}
.thumbnail-3 img{
    display: flex;
    width:350px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.channel-3{
    display: flex;
    align-items:top;
}
.channel-3 img{
    border-radius:90px;
    width:40px
}
.info{
    width:300px;
    font-family: roboto,arial;
    font-size: 14px;
    font-weight:510;
}