


/*
@media screen and (max-width:1152px){
    .hero{
        width:100vw;
    }
    .inside-hero{
        width:95vw;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items:flex-start;
    }
    .pic{
        border-radius: 400px;
        width:40vw;
        height: 19vh;
        border: dashed;
    }
    .img{
        width:60vw;
        height:30vh;
        border: dashed;
        justify-content: center;
        align-items: center;
        margin-left:150px;
    }
    .NAME{
        border: dashed;
        width:60vw;
        height:30vh;
        align-items: center;
        
    }
    .NAME p{
        font-size:4vw;

    }


}*/
@media screen and (min-width:300px){
    .hero{
        width:100vw;
        min-height: 90vh;
        margin-bottom:30px
    }
    .inside-hero{
       min-width:100vw;
    }
    .NAME{
        min-width:100vw;
        /* display: none; */
        height:190px;
    }
    .NAME p{
        font-size:1.7rem;
    }
    .HI-DIV p{
        width:40px;
        height:50px;
        margin-bottom: 0;
    }
    .icons-div{
        width:90vw;
        height:5vh;
    }

    .gmail{
        width:28px;
        transition: width 0s;
    }
   .gmail:hover{
        width:28px;
    }
    .github{
        width: 28px;
        transition: width 0s;

    }
    .github:hover{
        width:28px;
    }
    .instagram{
        width:25px;
        transition: width 0s;
    }
    .instagram:hover{
        width:25px
    }
    .linkedin{
        width:26px;
        transition: width 0s;

    }
    .linkedin:hover{
        width:26px;
    }
    .gif-1{
        width:50vw

    }
    
    .gif-1 img{
        width:150px;
        height:140px;
        padding-left:14px;
    }
    .gif-2 img{
        width:100px;
        height: 100px;
        animation: myanimation1 4s ease-in-out 3s infinite alternate;
    }
    @keyframes myanimation1 {
        0%{
            transform: translate(0px);
        }
        100%{
            transform: translate(65vw);
        }
    }
    .part-1 h1{
        padding-top:30px;
    }
    .gif-x img{
        height:80px;
    }
    .gif-y img{
        height:90px;
        width: 70px;
        padding-bottom:15px;
    }
    .gif-z img{
        height:70px;
        width:70px;
        padding-bottom: 10px;
    }
    .about-me{
        justify-content: flex-start;
        min-width:99vw;
        min-height:70vh;
    }
    .inside-about-me{
        display: flex;
        flex-direction:column;
        justify-content:flex-start;

    }
    .heading-1{
        display: flex;
        flex-direction: column;
        height: 50vh;

    }
    .heading-2{
        display:flex;
        flex-direction: column;
    }
    .heading-3{
        min-width:80vw;
        min-height: 12vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .inside-heading-3{
        width:100px;
        font-size:4rem;
    }
    .part-1,.part-2{
        display: flex;
        flex-direction: row;
        height:10vh;
    }
    .part-2{
        min-width:90vw;
        height:12vh;
        align-items: center;
    }
    .part-1 h1,.part-2 h1{
        height:5vh;
    }
    .inside-about-me h1{
        font-size:3rem;
    }
    .intro-1{
        display: flex;
        justify-content:space-around;
        align-items:center;
        flex-direction: column;
        height:50vh;
        min-width:30vw;
    }
    .about-me-desc{
        min-width:80vw;
    }
    .intro-1 p{
        font-size:1rem;

    }
    .intro-2{
         display: flex;
        justify-content:flex-start;
        align-items:center;
        flex-direction: column;
        min-height:50vh;
        min-width:30vw;
    }
    .intro-2 p{
        font-size:1rem;
        width:80vw;
    }
    .journey-desc{
        width:80vw;
    }
    .gif-5 img{
        width:50px;
        height:50px;
    }
    .intro-3{
        flex-direction:row
    }
    .gif-3 img{
        display:none;
    }
    .gif-4{
        display: none;
    }
    .gif-5{
        display: none;
    }
    .intro-2 img{
        display: none;
    }
    ul.list1 li{
        font-size:1rem;
    }
    ul.list1{
        min-width:80vw;
    }
    .the-end{
        min-height:6vh;
        min-width:98vw;
    }
    .inside-the-end{
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        min-width: 95vw;
        min-height:4vh;

    }
    .connect{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width:95vw;
    }
    .ani-1 img{
        -webkit-transform:rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        width:100px;
        height:120px;
    }
    
}


@media only screen and (min-width:1162px){
    .NAME{
        width:60vw;
        height:50vh;
    }
    .myskills{
        min-height:90vh;

    }
}


@media only screen and (min-width:1200px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0       ;
    }
    .gif-x img{
        display: none;
    }
    .hero{
        min-height: 90vh;
        min-width: 98vw;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        margin-bottom:100px;
        /* margin-left:70px; */
    }
    .NAME{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:20px;
        width:50vw;
        height: 40vh;
        
    }
    
    .NAME p{
        font-size:3rem;
        font-family:Montserrat;
    }
    
    .HI{
        margin-top: 0;
        margin-bottom:30px;
        font-size: 6rem;
    }
    .welcome{
        margin-top: 0;
        margin-bottom: 0;
    }
    .heading-1{
        display: flex;
        flex-direction: row;
    }
    .heading-2{
        display: flex;
        justify-content: flex-end;
    }
    
    .inside-hero{
        display: flex;
        flex-direction:column;
        width:85vw;
        justify-content:space-around;
        align-items: center;
        
    }
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 120px;
        min-height:93vh;
        min-width:95vw;
        /* margin-left:40px; */
    }
    .inside-about-me h1{
        font-family:Pixelify Sans;
        font-size:4rem;
    }
    .inside-about-me p{
        font-size: 1.5rem;
        font-family:Montserrat;
    }
    .inside-about-me{
        width:80vw;
        display:flex;
        flex-direction: column;
    }
    .about-me-desc{
        width: 50vw;
    }
    
    .intro-1{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
    .intro-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }
    .intro-3{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    
        width:80vw
    }
    .journey-desc{
        width:50vw;
    }
    .the-end{
        display: flex;
        width:95vw;
    }
    .inside-the-end{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        width:95vw;
    }
    .icons-div{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width:50vw;
        height:50px;
    }
    .gmail{
        width:40px;
        transition: width 0.4s;
    }
    .gmail:hover{
        width:50px;
       
        
    
    }
    .github{
        width:40px;
        transition: width 0.4s;
    
    }
    .github:hover{
        width:50px;
    }
    .instagram{
        width:37px;
        transition: width 0.4s;
    }
    .instagram:hover{
        width:50px;
    }
    .linkedin{
        width:35px;
        transition: width 0.4s;
    }
    .linkedin a img{
        border-radius:6px;
    }
    .linkedin:hover{
        width:45px;
    }
    .whatsapp{
        width:40px;
    }
    .gif-1 ,.gif-2{
        width:90vw;
        position: relative;
    }
    .gif-1 img{
        width:175px;
        height:175px;
    }
    .gif-2 img{
        width:175px;
        height:175px;
        animation: myanimation1 4s ease-in-out 3s infinite alternate;
    }
    @keyframes myanimation1 {
        0%{
            transform: translate(0px);
        }
        100%{
            transform: translate(80vw);
        }
    }
    
    .gif-3 img{
        display: flex;
        width: 150px;
        height:150px;
    
    }
    .gif-4 img{
        
        width: 150px;
        height:150px;
    
    
    }
    .gif-5 img{
        width:175px;
        height:175px;
    }
    .gif-5{
        display: flex;
        justify-content: flex-start;
    }
    .myskills{
        min-height: 90vh;
        /* min-width: 100vw; */
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        
    }
    .aninmation{
        width:90vw;
        position: relative;
        
    }
    .inside-myskills{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    ul.list1{
        list-style-type: square;
        width:50vw;
        height:90vh;
        
    }
    ul.list1 li{
        font-family: Montserrat;
        font-size: 1.5rem;
        margin-bottom:10px;
    }
    .heading-3 h1{
        font-family: Pixelify Sans;
        font-size: 4rem;
        margin-bottom: 10px;
    
    }
    .connect{
        display: flex;
        justify-content:space-between;
        width:30vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .wannaconnect{
        font-family:Montserrat ;
        font-size:30px;
    }
    .wannaconnect p{
        padding-left:14px;
        margin-bottom:10px;
    }
    .inside-connect{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
}



/*@media screen and (max-width: 901px){
    .NAME p{
        font-size:2.5rem;
    }
}
@media screen and (max-width:807px){
    .NAME p{
        font-size:2rem;
    }

    
}*/




/*@media only screen and (max-width:900px){
    .about-me-desc{
        width: 75vw;
    }
    .NAME{
        width:60vw;
        height:40vh;
    }
}
@media only screen and (max-width:600px){
    .about-me-desc{
        width: 95vw;
    }
    .NAME{
        width:60vw;
        height:10vh
    }
    .myskills{
        height:40vh;

}
}
@media only screen and (max-width:700px){
    .NAME{
        width:60vw;
        height:30vh;
    }
}
@media only screen and (max-width:500px){
    .NAME{
        width:60vw;
        height:40vh;
    }
}*/