


/*
@media screen and (max-width:1152px){
    .hero{
        width:100vw;
    }
    .inside-hero{
        width:95vw;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items:flex-start;
    }
    .pic{
        border-radius: 400px;
        width:40vw;
        height: 19vh;
        border: dashed;
    }
    .img{
        width:60vw;
        height:30vh;
        border: dashed;
        justify-content: center;
        align-items: center;
        margin-left:150px;
    }
    .NAME{
        border: dashed;
        width:60vw;
        height:30vh;
        align-items: center;
        
    }
    .NAME p{
        font-size:4vw;

    }


}*/
@media screen and (min-width:300px){
    
    .navbar{
        display:flex;
        position:absolute;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color:#79155B;
        min-width:100%;
        height:65px;
    }
    .links{
        display: none;
    }
    .inside-navbar{
        width:95%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }
    /*contact button*/
    .contact-button{
        display:flex;
    }
    @import url("https://fonts.googleapis.com/css?family=Raleway");

    :root {
    --glow-color: #F9F3CC;
    }

    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }


    .glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
    }

    .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
    }

    .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
    }

    .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
    }

    .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
    }

    .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
    }

    .glowing-btn:hover .glowing-txt {
    animation: none;
    }

    .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
    }

    .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
    }

    .glowing-btn:hover:after {
    opacity: 1;
    }

    @keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 0.1;
    }
    4% {
        opacity: 0.5;
    }
    19% {
        opacity: 0.5;
    }
    21% {
        opacity: 0.1;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
    }

    @keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }
    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
    }

    @keyframes border-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
    }

    @media only screen and (max-width: 600px) {
    .glowing-btn{
        font-size: 1em;
    }
    }
    /*contact button ends*/

    .logo{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-top: 9px;
        padding-left:0px;
        width:30vw;
    }
    .logo a{
        text-decoration: none;
        min-width:80px;
        font-size:40px;
        color: #F9F3CC;
        font-family:Great Vibes ;
    }
    .hero{
        position:relative;
        top:65px;
        width:100vw;
        min-height: 90vh;
        margin-bottom:30px;
    }
    .inside-hero{
       min-width:100vw;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    }
    .NAME{
        min-width:100vw;
        /* display: none; */
        height:190px;
    }
    .NAME p{
        font-size:1.7rem;
    }
    .HI-DIV p{
        width:40px;
        height:50px;
        margin-bottom: 0;
    }
    .icons-div{
        width:90vw;
        height:5vh;
    }

    .gmail{
        width:28px;
        transition: width 0s;
    }
    .gmail:hover{
        width:28px;
    }
    .github{
        width: 28px;
        transition: width 0s;

    }
    .github:hover{
        width:28px;
    }
    .instagram{
        width:25px;
        transition: width 0s;
    }
    .instagram:hover{
        width:25px
    }
    .linkedin{
        width:26px;
        transition: width 0s;

    }
    .linkedin:hover{
        width:26px;
    }
    .gif-1{
        width:50vw

    }
    .gif-2{
        height: 20vh;
    }
    
    .gif-1 img{
        width:150px;
        height:140px;
        padding-left:14px;
    }
    .gif-2 img{
        width:100px;
        height: 100px;
        animation: myanimation1 4s ease-in-out 3s infinite alternate;
    }
    @keyframes myanimation1 {
        0%{
            transform: translate(0px);
        }
        100%{
            transform: translate(65vw);
        }
    }
    .part-1 h1{
        padding-top:50px;

    }
    .gif-x img{
        height:15vh;
        width:35vw;
    }
    .gif-y img{
        height:110px;
        width: 80px;
        padding-bottom:15px;
    }
    .gif-z img{
        height:100px;
        width:90px;
        padding-bottom: 10px;
    }
    .about-me{
        justify-content: flex-start;
        min-width:99vw;
        height:120vh;
        margin-top:115px;
    }
    .inside-about-me{
        text-align: center;
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
        width:80vw;

    }
    .heading-1{
        display: flex;
        flex-direction: column;
        height: 50vh;

    }
    .heading-2{
        display:flex;
        flex-direction: column;
    }
    .heading-3{
        min-width:80vw;
        min-height:20vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .inside-heading-3{
        width:100px;
        font-size:4rem;
    }
    .part-1,.part-2{
        display: flex;
        flex-direction: row;
        height:10vh;
    }
    .part-1{
        height: 15vh;
    }
    .part-2{
        min-width:90vw;
        height:20vh;
        align-items: center;
    }
    .part-1 h1{
        height:5vh;
        text-align: center;
    }
    .part-2 h1{
        height:5vh;
    }
    .inside-about-me h1{
        font-size:3rem;
    }
    .intro-1{
        display: flex;
        justify-content:space-around;
        align-items:center;
        flex-direction: column;
        height:50vh;
        min-width:30vw;
    }
    .about-me-desc{
        min-width:80vw;
    }
    .intro-1 p{
        font-size:1rem;

    }
    .intro-2{
         display: flex;
        justify-content:flex-start;
        align-items:center;
        flex-direction: column;
        min-height:40vh;
        min-width:30vw;
    }
    .intro-2 p{
        font-size:1rem;
        width:80vw;
    }
    .journey-desc{
        width:80vw;
    }
    .gif-5 img{
        width:50px;
        height:50px;
    }
    .intro-3{
        flex-direction:row
    }
    .gif-3 img{
        display:none;
    }
    .gif-4 img{
        display: none;
    }
    .gif-5{
        display: none;
    }
    .intro-2 img{
        display: none;
    }
    .myskills{
        min-height:90vh;
    }
    .inside-myskills{
        height:80vh
    }
    ul.list1 li{
        font-size:1rem;
    }
    ul.list1{
        min-width:80vw;
    }
    .the-end{
        min-height:50vh;
        min-width:98vw;
    }
    .inside-the-end{
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        min-width: 95vw;
        min-height:20vh;

    }
    .connect{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width:95vw;
    }
    .ani-1 img{
        -webkit-transform:rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        width:100px;
        height:120px;
    }
    .heading-4{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;
        min-width:90vw;
        min-height:15.5vh;

    }
    .inside-heading-4{
        width:50px;
        min-height:10vh;
    }
    .inside-heading-4 h1{
        padding-top:40px;
        font-size: 3rem;
    }
    .gif-7 img{
        width:150px;
        height:170px;
    }
    .projects{
        min-height:100vh;
    }
    .library{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-1{
        min-width:90vw;
    }
    .project-1 h2{
        font-size:1.4681rem;
        min-width:80vw;
        font-weight:900
    }
    .library-desc{
        min-width:90vw
    }
    .library-desc p{
        font-size: 1rem;
        font-weight:900;
    }
    .library-desc ul li{
        font-weight: 900;
    }
    .mystart-2,.mystart-1{
        padding-top:50px
    }
    
    
}
@media only screen and (min-width:1200px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0   
            ;
    }
    /*contact button*/
    .contact-button{
        display:block;
    }
    @import url("https://fonts.googleapis.com/css?family=Raleway");

    :root {
    --glow-color: #F9F3CC;
    }

    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }


    .glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
    }

    .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
    }

    .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
    }

    .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
    }

    .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
    }

    .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
    }

    .glowing-btn:hover .glowing-txt {
    animation: none;
    }

    .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
    }

    .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
    }

    .glowing-btn:hover:after {
    opacity: 1;
    }

    @keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 0.1;
    }
    4% {
        opacity: 0.5;
    }
    19% {
        opacity: 0.5;
    }
    21% {
        opacity: 0.1;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
    }

    @keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }
    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
    }

    @keyframes border-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
    }

    @media only screen and (max-width: 600px) {
    .glowing-btn{
        font-size: 1em;
    }
    }
    /*contact button end*/

    .gif-x img{
        display: none;
    }
    .gif-y img{
        display: none;
    }
    .gif-z img{
        width:120px;
        height:120px;
    }
    .gif-z{
        width:150px;
        height:150px;
        padding-top:15px;

    }
    .hamburger{
        display: none;
        position: absolute;
    }
    .navbar{
        display:flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color:#79155B;
        min-width:100%;
        height:65px;
    }
    .inside-navbar{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width:90vw;
    }
    .logo{
        padding-top: 5px;
        width:6vw;
        height:7vh;;

    }
    .logo a{
        padding-top: 1px;
        text-decoration: none;
        width:8vw;
        font-size:40px;
        color: #F9F3CC;
        font-family:Great Vibes ;
    }
    .links{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left:120px;
        width:25vw;
        height:5vh
    }
    .a1,.a2,.a3{
        color: #F9F3CC;
        text-decoration: none;

    }
    .hero{
        margin-top:65px;
        min-height:90vh;
        width:97vw;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        margin-bottom:100px;
        /* margin-left:70px; */
    }
    .NAME{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:20px;
        min-width:50vw;
        height:50vh;
        
    }
    
    .NAME p{
        font-size:3rem;
        font-family:Montserrat;
    }
    
    .HI{
        margin-top: 0;
        margin-bottom:30px;
        font-size: 6rem;
    }
    .welcome{
        margin-top: 0;
        margin-bottom: 0;
    }
    .heading-1{
        display: flex;
        flex-direction:column;
    }
    .heading-2{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    
    .inside-hero{
        display: flex;
        flex-direction:column;
        min-width:85vw;
        justify-content:space-around;
        align-items: center;
        height:35vh
        
    }
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 120px;
        min-height:100vh;
        min-width:95vw;
        /* margin-left:40px; */
    }
    .inside-about-me h1{
        font-family:Pixelify Sans;
        font-size:4rem;
    }
    .inside-about-me p{
        font-size: 1.5rem;
        font-family:Montserrat;
    }
    .inside-about-me{
        width:80vw;
        display:flex;
        flex-direction: column;
    }
    .about-me-desc{
       min-width:60vw;
       min-height:20vh;

    }
    .part-2{
        display: flex;
        justify-content: flex-end;
        min-width:60vw;
    }
    .part-1{
        min-height:25vh;
    }
    .part-1 h1{
        height:15vh;
    }
    .inside-part-1{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .intro-1{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        min-width:50vw;
    }
    .intro-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        min-height:10vh;
    }
    .intro-3{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    
        width:80vw
    }
    .journey-desc{
        width:60vw;
        min-height:15vh;
    }
    .journey-desc p {
        font-size: 24px;
        width:65vw;
        min-height:15vh;
    }
    .the-end{
        display: flex;
        margin-top:60px;
        min-width:90vw;
        min-height:28vh;
    }
    .inside-the-end{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        min-width:80vw;
    }
    .icons-div{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width:50vw;
        height:50px;
    }
    .gmail{
        width:40px;
        transition: width 0.4s;
    }
    .gmail:hover{
        width:50px;
       
        
    
    }
    .github{
        width:40px;
        transition: width 0.4s;
    
    }
    .github:hover{
        width:50px;
    }
    .instagram{
        width:37px;
        transition: width 0.4s;
    }
    .instagram:hover{
        width:50px;
    }
    .linkedin{
        width:35px;
        transition: width 0.4s;
    }
    .linkedin a img{
        border-radius:6px;
    }
    .linkedin:hover{
        width:45px;
    }
    .whatsapp{
        width:40px;
    }
    .gif-1 ,.gif-2{
        width:90vw;
        position: relative;
    }
    .gif-1{
        display: flex;
        align-items: flex-end;
        height:30vh;
    }
    .gif-1 img{
        width:175px;
        height:175px;
    }
    .gif-2 img{
        width:175px;
        height:175px;
        animation: myanimation1 4s ease-in-out 3s infinite alternate;
    }
    @keyframes myanimation1 {
        0%{
            transform: translate(0px);
        }
        100%{
            transform: translate(80vw);
        }
    }
    
    .gif-3 img{
        display: flex;
        padding-bottom:25px;
        width: 160px;
        height:190px;
    
    }
    .gif-4{
        width:160px;
        height:190px;
    }
    .gif-4 img{
        display:block;
        padding-bottom:35px;
        width: 160px;
        height:190px;
    }
    .gif-5 img{
        display: none;
        width:140px;
        height:175px;
    }
    .gif-5{
        display: flex;
        justify-content: flex-start;
        width:15vw
    }
    .myskills{
        min-height:120vh;
        /* min-width: 100vw; */
        display:flex;
        justify-content:space-between;
        align-items: center;
        flex-direction:column;
        
    }
    .aninmation{
        width:90vw;
        position: relative;
        
    }
    .inside-myskills{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    ul.list1{
        list-style-type: square;
        width:50vw;
        height:90vh;
        
    }
    ul.list1 li{
        font-family: Montserrat;
        font-size: 1.5rem;
        font-weight:bold;
        margin-bottom:10px;
    }
    .heading-3 h1{
        font-family: Pixelify Sans;
        font-size: 4rem;
        margin-bottom: 10px;
    
    }
    .connect{
        display: flex;
        justify-content:flex-start;
        min-width:30vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .wannaconnect{
        font-family:Montserrat ;
        font-size:30px;
    }
    .wannaconnect p{
        padding-left:14px;
        margin-bottom:10px;
    }
    .inside-connect{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .inside-heading-3{
        height:15vh;
        width:30vw
    }
    .heading-3{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        min-height:35vh;
   }
    .gif-5{
        display:none;
   }
    .ani-1{
        width:12vw;
        min-height: 28vh;
        -webkit-transform:rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
   }
    .ani-1 img{
        min-width:8vw;
        min-height:25vh
   }
    .inside-the-end{
        justify-content: space-between;
   }
    .gif-6{
        min-width:10vw;
        min-height:25vh;
    }
    .gif-6 img{
        min-width:10vw;
        min-height:28vh;
    }
    /*new*/
    .projects{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        min-width:100%;
        height:150vh;
    }
    .inside-projects{
        display: flex;
        flex-direction: column;
        min-height:90vh;
        min-width: 80vw;
    }
    .heading-4{
        display:flex ;
        flex-direction:row;
        justify-content:flex-start;
        align-items: flex-end;
        min-width:80vw;
        min-height:30vh;
        margin-bottom: 50px;
    }
    .heading-4 h1{
        font-size:4rem;
        font-family:Pixelify Sans ;

    }
    .mywork{
        min-height: 80vh;
        min-width: 80vw;
    }
    .gif-7{
        width:150px;
    }
    .gif-7 img{
        width:150px;
        
    }
    .inside-heading-4{
        display:flex;
        align-items: center;
        min-width:25vw;
    }
    .mywork{
        display: flex;
        flex-direction: column;
        min-width:80vw;
        min-height: 20vh;
    }
    .library{
        min-width:80vw;
    }
    .library h2{
        font-family:Montserrat;
        font-size: 3rem;
    }
    .library-desc{
        min-height: 45vh;
        min-width:80vw;
        display: flex;
        align-items: flex-start;
        padding: 20px;
        justify-content: space-between;
        flex-direction: column;
    }
    .library-desc p{
        font-size: 1.5rem;
        font-family:Montserrat;
        min-width:10vw;
        min-height:5vh ;
    }
    .library ul li{
        font-size: 1rem;
        font-family: Montserrat;
    }
    .project-1{
        min-width:80vw;
    }

}

@media only screen and (min-width:1400px){
    .inside-projects{
        max-width: 1200px;
    }
}

/*@media screen and (max-width: 901px){
    .NAME p{
        font-size:2.5rem;
    }
}
@media screen and (max-width:807px){
    .NAME p{
        font-size:2rem;
    }

    
}*/




/*@media only screen and (max-width:900px){
    .about-me-desc{
        width: 75vw;
    }
    .NAME{
        width:60vw;
        height:40vh;
    }
}
@media only screen and (max-width:600px){
    .about-me-desc{
        width: 95vw;
    }
    .NAME{
        width:60vw;
        height:10vh
    }
    .myskills{
        height:40vh;

}
}
@media only screen and (max-width:700px){
    .NAME{
        width:60vw;
        height:30vh;
    }
}
@media only screen and (max-width:500px){
    .NAME{
        width:60vw;
        height:40vh;
    }
}*/