*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#F9F3CC;
}

.hero{
    min-height: 90vh;
    /* min-width: 100vw; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-bottom:100px;
    /* margin-left:70px; */
}
.NAME{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    width:50vw;
    height: 40vh;
    
}

.NAME p{
    font-size:3rem;
    font-family:Montserrat;
}

.HI{
    margin-top: 0;
    margin-bottom:30px;
    font-size: 6rem;
}
.welcome{
    margin-top: 0;
    margin-bottom: 0;
}
.heading-1{
    display: flex;
    flex-direction: row;
}
.heading-2{
    display: flex;
    justify-content: flex-end;
}

.inside-hero{
    display: flex;
    flex-direction:column;
    width:85vw;
    justify-content:space-around;
    align-items: center;
    
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    height:83vh;
    width:95vw;
    /* margin-left:40px; */
}
.inside-about-me h1{
    font-family:Pixelify Sans;
    font-size:4rem;
}
.inside-about-me p{
    font-size: 1.5rem;
    font-family:Montserrat;
}
.inside-about-me{
    width:80vw;
    display:flex;
    flex-direction: column;
}
.about-me-desc{
    width: 50vw;
}

.intro-1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.intro-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.intro-3{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

    width:80vw
}
.journey-desc{
    width:50vw;
}
.the-end{
    display: flex;
    width:95vw;
}
.inside-the-end{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:95vw;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-width:100%;
    height:150vh;
}
.inside-projects{
    display: flex;
    flex-direction: column;
    min-height:90vh;
    width: 80vw;
}
.heading-4{
    display:flex ;
    flex-direction:row;
    min-height:17vh;
    margin-bottom: 50px;
}
.heading-4 h1{
    font-size:4rem;
    font-family:Pixelify Sans ;

}
.gif-7{
    width:150px;
}
.gif-7 img{
    width:150px;
    
}
.inside-heading-4{
    display:flex;
    align-items: center;
}
.mywork{
    display: flex;
    flex-direction: column;
    min-width:80vw;
    min-height: 20vh;
}
.library{
    min-width:80vw;
}
.library h2{
    font-family:Montserrat;
    font-size: 3rem;
}
.library-desc{
    min-height: 45vh;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
}
.library-desc p{
    font-size: 1.5rem;
    font-family:Montserrat;
    min-width:10vw;
    min-height:5vh ;
}
.library ul li{
    font-size: 1rem;
    font-family: Montserrat;
}
/*.ani-1{
    animation: myanimation2 4s  3s infinite alternate;
}
.ani-2{
    animation: myanimation3 3s  0s infinite alternate;
}
@keyframes myanimation3 {
    0%{
        transform: translate(0,200px);
    }
    100%{
        transform: translate();
    }
}*/

