*{
    box-sizing: border-box;
    padding: 0;
    margin: 0       ;
}

body{
    background-color: (253,254,253,255);
}
.hero{
    min-height: 90vh;
    /* min-width: 100vw; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-bottom:100px;
    /* margin-left:70px; */
}
.NAME{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    width:50vw;
    height: 40vh;
    
}
.NAME p{
    font-size:3rem;
    font-family:Montserrat;
}

.HI{
    margin-top: 0;
    margin-bottom:30px;
    font-size: 6rem;
}
.welcome{
    margin-top: 0;
    margin-bottom: 0;
}
.heading-1{
    display: flex;
    flex-direction: row;
}
.gif-1 ,.gif-2{
    width:90vw;
    position: relative;
}
.gif-1 img{
    width:175px;
    height:175px;
}
.gif-2 img{
    width:175px;
    height:175px;
    animation: myanimation1 4s ease-in-out 3s infinite alternate;
}
@keyframes myanimation1 {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(80vw);
    }
}

.gif-3 img{
    width: 150px;
    height:150px;

}

.inside-hero{
    display: flex;
    flex-direction:column;
    width:85vw;
    justify-content:space-around;
    align-items: center;
    
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    /* margin-left:40px; */
}
.inside-about-me h1{
    font-family:Pixelify Sans;
    font-size:4rem;
}
.inside-about-me p{
    font-size: 1.5rem;
    font-family:Montserrat;
}
.inside-about-me{
    width:80vw;
    display:flex;
    flex-direction: column;
}
.about-me-desc{
    width: 50vw;
}








@media screen and (max-width:1152px){
    .hero{
        width:100vw;
    }
    .inside-hero{
        width:95vw;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items:flex-start;
    }
    .pic{
        border-radius: 400px;
        width:40vw;
        height: 19vh;
        border: dashed;
    }
    .img{
        width:60vw;
        height:30vh;
        border: dashed;
        justify-content: center;
        align-items: center;
        margin-left:150px;
    }
    .NAME{
        border: dashed;
        width:60vw;
        height:30vh;
        align-items: center;
        
    }
    .NAME p{
        font-size:4vw;

    }


}
@media only screen and (max-width:900px){
    .about-me-desc{
        width: 75vw;
    }
}
@media only screen and (max-width:600px){
    .about-me-desc{
        width: 95vw;
    }

}
/*@media  screen and (min-width:462px){
    .pic{
        border-radius:400px;
        width:42vw;
        height: 30vh;
        border: dashed;
    }
    .img{
        width:55vw;
        height:35vh;
        border: dashed;
        margin-left:145px;
        align-items:center;
    }
}*/
    
